
# Created by https://www.gitignore.io/api/video,executable
# Edit at https://www.gitignore.io/?templates=video,executable

### Video ###
*.3g2
*.3gp
*.asf
*.asx
*.avi
*.flv
*.mov
*.mp4
*.mpg
*.rm
*.swf
*.vob
*.wmv

# End of https://www.gitignore.io/api/video,executable
